<!-- <div class="crud-container centralize">
  <div *ngIf="isLoading" class="loader">
     <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>
  <mat-card>
     <form (ngSubmit)="submitForm()" [formGroup]="formRequisiiton" autocomplete="off">

        <mat-card-header style="justify-content: space-between; margin-bottom: 25px;">
           <mat-card-title>Criar requisição</mat-card-title>
        </mat-card-header>

        <mat-card-content>

           <mat-form-field class="col-sm-5">
              <mat-label>Nome do produto</mat-label>
              <input formControlName="name" matInput required>
              <mat-error *ngIf="formRequisiiton.get('name').errors?.required">{{ getErrorMessage('required') }}</mat-error>
           </mat-form-field>

        </mat-card-content>

        <mat-card-footer style="display: flex; justify-content: space-evenly; margin-top: 25px;">
           <button color="primary" mat-raised-button type="submit"> Enviar Solicitação </button>
        </mat-card-footer>
     </form>
  </mat-card>
</div> -->
<!--
<swal
  #deleteSwal
  (confirm)="deleteProduct()"
  [cancelButtonText]="'modal.button.not_have_sure' | translate"
  [confirmButtonText]="'modal.button.yes_delete' | translate"
  [text]="'modal.detail.product_delete_forever' | translate"
  [title]="'modal.title.are_you_sure' | translate"
  showCancelButton="true"
  type="warning"
></swal> -->
